<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <title>Hyperloot</title>
  </head>
  <body>
    <header class="header">
      <a class="logo" href="/"><img src="<%= require('assets/logo.svg') %>"> Hyperloot</a>
    </header>

    <%= require('content.en.md') %>

    <section class="join wrapper">
      <h2>Join our community</h2>

      <nav class="social">
        <a href="https://www.facebook.com/pg/401874386882912" target="_blank"><img src="<%= require('assets/facebook.svg') %>" width="22"></a>
        <a href="https://github.com/HyperLootProtocol" target="_blank"><img src="<%= require('assets/github.svg') %>" width="22"></a>
        <a href="https://twitter.com/Hyperloot" target="_blank"><img src="<%= require('assets/twitter.svg') %>" width="22"></a>
        <a href="https://www.linkedin.com/company/hyperloot/" target="_blank"><img src="<%= require('assets/linkedin.svg') %>" width="22"></a>
        <a href="https://medium.com/hyperloot-protocol" target="_blank"><img src="<%= require('assets/medium.svg') %>" width="22"></a>
        <a href="https://t.me/hyperloot" target="_blank"><img src="<%= require('assets/telegram.svg') %>" width="22" class="image-2"></a>
        <a href="https://discord.gg/My3PfqK" target="_blank"><img src="<%= require('assets/discord.svg') %>" width="22"></a>
        <a href="https://www.reddit.com/r/hyperloot/" target="_blank"><img src="<%= require('assets/reddit.svg') %>" width="22"></a>
        <a href="https://www.youtube.com/channel/UCCHUAJwu5KWBy3P4tzTVWfQ" target="_blank"><img src="<%= require('assets/youtube.svg') %>" width="22"></a>
      </nav>
    </section>

    <footer class="footer"r>
      <div class="wrapper">
        <a href="https://docs.google.com/document/d/1y8rTrOxX53HyxExh_SvwQObNkdMheWwX1NQyWKkNSyU/edit?usp=sharing" target="_blank">Terms of Use</a>
        and
        <a href="https://docs.google.com/document/d/1y8rTrOxX53HyxExh_SvwQObNkdMheWwX1NQyWKkNSyU/edit?usp=sharing" target="_blank">Privacy Policy</a>
        |
        <span class="powered-by">Powered by Hyperloot Protocol</span>
      </div>
    </footer>
  </body>
</html>
