<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125551451-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125551451-1');
    </script>

    <meta property = "og:title" content = "HyperLoot" />
    <meta property = "og:description" content = "Decentralized P2P marketplace and ownership solution for in-game items." />
    <meta property = "og:type" content = "website" />
    <meta property = "og:url" content = "https://hyperloot.net" />
    <meta property = "og:image" content = "https://hyperloot.net/Hyperchan.png" />

    <title>Hyperloot</title>
  </head>
  <body>

    <%= require('./_sidebar.html') %>

    <div class="wrapper">

      <%
        var templates = {
          about: require('./about.html'),
          token: require('./token.html'),
          solutions: require('./solutions.html')
        };

        // 'template' we define in webpack

        print(templates[template]);
      %>

      <section class="posts">

        <div class="container">

          <div class="posts-heading">
            <h2>Blog</h2>
            <div class="followers">68 followers</div>
          </div>

          <div id="posts-tag" class="posts-tags rectangular-tags">
            <ul>
              <li><a href="#">team</a></li>
              <li><a href="#">partners</a></li>
              <li><a href="#">product</a></li>
              <li><a href="#">vision</a></li>
              <li><a href="#">front-end</a></li>
              <li><a href="#">ux</a></li>
              <li><a href="#">bounty</a></li>
              <li><a href="#">video</a></li>
            </ul>
            <a class="read-more" href="#">more</a>
          </div>

          <div class="post-list">
            <% postsData.forEach(function(post, item){ %>
                <% if (item < 2) { %>
                  <div class="post-preview <%= post.attributes.tags.join(' ') %>">
                <% } else { %>
                  <div class="post-preview hidden <%= post.attributes.tags.join(' ') %>">
                <% } %>
                <div class="image">
                  <a href="/posts/<%= post.filename %>">
                    <img src="<%= post.attributes.image %>" alt="post-preview">
                  </a>
                </div>
                <div class="preview">
                  <div class="preview-header">
                    <div class="date"><%= post.attributes.date %></div>
                    <div class="social-networks">
                      <a href="#">
                        <svg x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve"><g> <g> <path class="st0" d="M17.6,27.5V15.7h3.2l0.8-4h-4.2V9c0-1.1,0.6-2.4,2.2-2.4h1.9V2.2h-2.9c-4.2,0-6.1,2.4-6.1,6v3.4H9.2v4h3.2 v11.9H17.6L17.6,27.5z"/> </g> </g> </svg>
                      </a>
                      <a href="#">
                        <svg  x="0px" y="0px" viewBox="0 0 27.1 22.5" xml:space="preserve"><g> <g> <path class="st0" d="M23.7,6.3c0,0.2,0,0.5,0,0.6c0,6.9-5.3,14.9-14.9,14.9c-3,0-5.7-0.8-8-2.3c0.3,0,0.8,0.1,1.3,0.1 c2.5,0,4.7-0.8,6.5-2.2c-2.3,0-4.3-1.6-4.9-3.6c0.3,0.1,0.6,0.1,1,0.1c0.5,0,0.9-0.1,1.4-0.2C3.7,13.1,1.8,11,1.8,8.5 c0,0,0,0,0-0.1C2.5,8.8,3.3,9,4.2,9C2.8,8.2,1.9,6.6,1.9,4.8c0-0.9,0.3-1.8,0.7-2.6c2.6,3.1,6.5,5.2,10.8,5.4 c-0.1-0.4-0.1-0.7-0.1-1.2c0-2.9,2.3-5.3,5.3-5.3c1.5,0,2.9,0.6,3.8,1.7c1.2-0.3,2.3-0.6,3.3-1.3c-0.4,1.2-1.2,2.2-2.3,2.9 c0.9-0.1,1.9-0.4,2.9-0.7C25.5,4.7,24.7,5.6,23.7,6.3z"/> </g> </g> </svg>
                      </a>
                      <a href="#">
                        <svg  x="0px" y="0px" viewBox="0 0 24.5 19.8" xml:space="preserve"><g> <g> <path class="st0" d="M23.4,3.6c0,0-0.9,0-0.9,0.9s0,10.9,0,10.9s0,0.9,0.9,0.9h0.3v2.6H16v-2.6h1.3V4.5h-0.1L13.3,19H9.9l-4-14.5 H5.8v11.9h1.3V19H0.7v-2.6H1c0,0,0.9,0,0.9-0.9c0-0.9,0-10.9,0-10.9s0-0.9-0.9-0.9H0.7V1.1h8.5l3,11.1h0.1l3-11.1h8.4v2.6h-0.3 V3.6z"/> </g> </g> </svg>
                      </a>
                    </div>
                  </div>
                  <div class="preview-body">
                    <a href="/posts/<%= post.filename %>">
                      <h3><%= post.attributes.title %></h3>
                    </a>
                    <p><%= post.attributes.excerpt %></p>
                  </div>
                  <div class="preview-footer">
                    <div class="author">
                      by <span><%= post.attributes.author %></span>
                    </div>
                    <div class="views">
                      1205 views
                    </div>
                    <div class="comments">
                      12 comments
                    </div>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>

          <div class="load-more">
            <a href="#" class="button-link section-link" onclick="showMorePosts(event)">
              View more
            </a>
          </div>

        </div>

      </section>

    </div>

    <script>

      let postsTagsList = document.getElementById('posts-tag');
      let tags = [];

      postsTagsList.addEventListener('click', (e) => {
        e.preventDefault();

        let element = e.target;
        let tagName = element.innerText;
        let postList = document.querySelectorAll('.post-preview');

        //toggle tag class for styling purposes
        element.classList.toggle('active');

        //update active tags array
        tags.includes(tagName)
          ? tags = tags.filter(item => item != tagName)
          : tags.push(tagName)

        //if there's active tags, hide all posts which doesn't match tag combination
        if(tags.length > 0){
          postList.forEach(element => {

            let classList = element.classList.value.split(' ');

            for(let i = 0; i < tags.length; i++){
              classList.includes(tags[i])
                ? element.classList.remove('hidden')
                : element.classList.add('hidden')
            }

          })
        } else {
          postList.forEach(element => element.classList.remove('hidden'));
        }

      })

      function showMorePosts(event){
        event.preventDefault();
        let postList = document.querySelectorAll('.post-preview.hidden');
            postList[0].classList.remove('hidden');
            postList[1].classList.remove('hidden');
      }

    </script>

    <%= require('./_footer.html') %>

  </body>
</html>
