<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125551451-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125551451-1');
    </script>

    <meta property = "og:title" content = "HyperLoot" />
    <meta property = "og:description" content = "Decentralized P2P marketplace and ownership solution for in-game items." />
    <meta property = "og:type" content = "website" />
    <meta property = "og:url" content = "https://hyperloot.net" />
    <meta property = "og:image" content = "https://hyperloot.net/Hyperchan.png" />

    <title>Hyperloot</title>
  </head>
  <body>

    <%= require('./_sidebar.html') %>

    <%
      var templates = {
        about: require('./about.html'),
        token: require('./token.html'),
        solutions: require('./solutions.html')
      };

      // 'template' we define in webpack

      print(templates[template]);
    %>

    <% postsData.forEach(function(post){ %>
      <a href="/posts/<%= post.filename %>">
        <%= post.attributes.title %>
        <%= post.short %>
      </a>
    <% }); %>

    <%= require('./_footer.html') %>

  </body>
</html>
