<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125551451-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125551451-1');
    </script>

    <title>Hyperloot posts</title>
  </head>
  <body>

    <% postsData.forEach(function(post){ %>
      <a href="/posts/<%= post.filename %>">
        <%= post.attributes.title %>
        <%= post.short %>
      </a>
    <% }); %>

    <%= require('./_footer.html') %>

  </body>
</html>
